@font-face {
  font-family: 'Vtiger-icons';
  src:  url('fonts/Vtiger-icons.eot?x0fhap');
  src:  url('fonts/Vtiger-icons.eot?x0fhap#iefix') format('embedded-opentype'),
    url('fonts/Vtiger-icons.ttf?x0fhap') format('truetype'),
    url('fonts/Vtiger-icons.woff?x0fhap') format('woff'),
    url('fonts/Vtiger-icons.svg?x0fhap#Vtiger-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vicon-"], [class*=" vicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vtiger-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vicon-recyclebin:before {
  content: "\e900";
}
.vicon-vendors:before {
  content: "\e901";
}
.vicon-forecast:before {
  content: "\e902";
}
.vicon-pricebooks:before {
  content: "\e903";
}
.vicon-timelog:before {
  content: "\e904";
}
.vicon-assets:before {
  content: "\e905";
}
.vicon-creditnotes:before {
  content: "\e906";
}
.vicon-marketinglist:before {
  content: "\e907";
}
.vicon-products:before {
  content: "\e908";
}
.vicon-sales:before {
  content: "\e909";
}
.vicon-reports:before {
  content: "\e90a";
}
.vicon-rss:before {
  content: "\e90b";
}
.vicon-touchpoints:before {
  content: "\e90c";
}
.vicon-smsnotifier:before {
  content: "\e90d";
}
.vicon-shoppingcart:before {
  content: "\e90e";
}
.vicon-calendarlist:before {
  content: "\e90f";
}
.vicon-assign:before {
  content: "\e910";
}
.vicon-email-open:before {
  content: "\e911";
}
.vicon-multicog:before {
  content: "\e912";
}
.vicon-marketing:before {
  content: "\e913";
}
.vicon-accept:before {
  content: "\e914";
}
.vicon-bell-slash:before {
  content: "\e915";
}
.vicon-collaboration:before {
  content: "\e916";
}
.vicon-dashboard:before {
  content: "\e917";
}
.vicon-portal:before {
  content: "\e918";
}
.vicon-payments:before {
  content: "\e919";
}
.vicon-faq:before {
  content: "\e91a";
}
.vicon-details:before {
  content: "\e91b";
}
.vicon-summary:before {
  content: "\e91c";
}
.vicon-updates:before {
  content: "\e91d";
}
.vicon-eventforms:before {
  content: "\e91e";
}
.vicon-subscription:before {
  content: "\e91f";
}
.vicon-olark:before {
  content: "\e920";
}
.vicon-comments:before {
  content: "\e921";
}
.vicon-esign:before {
  content: "\e922";
}
.vicon-phonecalls:before {
  content: "\e923";
}
.vicon-leads:before {
  content: "\e924";
}
.vicon-inventory:before {
  content: "\e925";
}
.vicon-insights:before {
  content: "\e926";
}
.vicon-salesinsights:before {
  content: "\e927";
}
.vicon-cases:before {
  content: "\e928";
}
.vicon-support:before {
  content: "\e929";
}
.vicon-servicecontracts:before {
  content: "\e92a";
}
.vicon-restorerecyclebin:before {
  content: "\e92b";
}
.vicon-realtimealerts:before {
  content: "\e92c";
}
.vicon-markasread:before {
  content: "\e92d";
}
.vicon-shrink:before {
  content: "\e92e";
}
.vicon-expand:before {
  content: "\e92f";
}
.vicon-import:before {
  content: "\e930";
}
.vicon-helpdesk:before {
  content: "\e931";
}
.vicon-edit:before {
  content: "\e932";
}
.vicon-unpin:before {
  content: "\e933";
}
.vicon-detailreport:before {
  content: "\e934";
}
.vicon-userstats:before {
  content: "\e935";
}
.vicon-pie0:before {
  content: "\e936";
}
.vicon-permalink:before {
  content: "\e937";
}
.vicon-linkopen:before {
  content: "\e938";
}
.vicon-reminder:before {
  content: "\e939";
}
.vicon-onsite:before {
  content: "\e93a";
}
.vicon-meeting:before {
  content: "\e93b";
}
.vicon-pivots:before {
  content: "\e93c";
}
.vicon-folderclose:before {
  content: "\e93d";
}
.vicon-foldermove:before {
  content: "\e93e";
}
.vicon-kanbanview:before {
  content: "\e93f";
}
.vicon-grid:before {
  content: "\e940";
}
.vicon-usergroup:before {
  content: "\e941";
}
.vicon-mailmanager:before {
  content: "\e942";
}
.vicon-emailtemplates:before {
  content: "\e943";
}
.vicon-documents:before {
  content: "\e944";
}
.vicon-volumeoff:before {
  content: "\e945";
}
.vicon-volumeon:before {
  content: "\e946";
}
.vicon-send:before {
  content: "\e947";
}
.vicon-call:before {
  content: "\e948";
}
.vicon-approvals:before {
  content: "\e949";
}
.vicon-alert:before {
  content: "\e94a";
}
.vicon-adduser:before {
  content: "\e94b";
}
.vicon-projectmilestone:before {
  content: "\e94c";
}
.vicon-accounts:before {
  content: "\e94d";
}
.vicon-bell:before {
  content: "\e94e";
}
.vicon-calendar:before {
  content: "\e94f";
}
.vicon-campaigns:before {
  content: "\e950";
}
.vicon-chat:before {
  content: "\e951";
}
.vicon-contacts:before {
  content: "\e952";
}
.vicon-emailcampaigns:before {
  content: "\e953";
}
.vicon-emails:before {
  content: "\e954";
}
.vicon-inbox:before {
  content: "\e955";
}
.vicon-invoice:before {
  content: "\e956";
}
.vicon-notifications:before {
  content: "\e957";
}
.vicon-potentials:before {
  content: "\e958";
}
.vicon-printtemplates:before {
  content: "\e959";
}
.vicon-project:before {
  content: "\e95a";
}
.vicon-projects:before {
  content: "\e95b";
}
.vicon-projecttask:before {
  content: "\e95c";
}
.vicon-purchaseorder:before {
  content: "\e95d";
}
.vicon-quotes:before {
  content: "\e95e";
}
.vicon-salesorder:before {
  content: "\e95f";
}
.vicon-services:before {
  content: "\e960";
}
.vicon-social:before {
  content: "\e961";
}
.vicon-task:before {
  content: "\e962";
}